In [1]:
import pandas as pd
import magic 
import re

In [2]:
magic.from_file('pitStops.csv')

'ASCII text, with CRLF line terminators'

In [23]:
df = pd.read_csv('pitStops.csv',encoding= 'ISO-8859-1')
df.iloc[750:753]

     raceId  driverId  stop  lap      time   duration  milliseconds
750     853       811     1    2  14:08:02     22.534         22534
751     853       817     1    1  14:08:50  16:44.718       1004718
752     853        15     1    5  14:13:34     30.391         30391